* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Averta;
  text-decoration: none;
  font-weight: 100;
  overflow-x: hidden;
}

/* Font Faces  */

@font-face {
  font-family: Averta;
  src: url("../fonts/AvertaRegular.ttf");
}

@font-face {
  font-family: AvertaSemi;
  src: url("../fonts/AvertaSemibold.ttf");
}

@font-face {
  font-family: AvertaBold;
  src: url("../fonts/AvertaBolder.otf");
}

@font-face {
  font-family: Tiny;
  src: url("../fonts/Tiny.ttf");
}

@font-face {
  font-family: Graphire;
  src: url("../fonts/Graphire.ttf");
}

@font-face {
  font-family: Legquinne;
  src: url("../fonts/Legquinne.otf");
}

/* Font Faces  */

/* Colors & Sizes */

body {
  --width--: 1280px;
  --background--: #212121;
  --color--: #fff;
  --pColor--: #d7d7d7;
  --black--: #000;
  --links-layer--: #111;
  --switcher--: #525252;

  /* Body Background */
  background: var(--background--);
  color: var(--color--);
  /* Body Background */

  transition: 0.5s all;
}
body.active {
  --background--: #fefefe;
  --color--: #000;
  --pColor--: #383838;
  --black--: #000;
  --links-layer--: #ddd;
  --switcher--: #c0c0c0;
}
p {
  font-size: 16px;
  color: var(--pColor--);
}
a {
  font-size: 16px;
  color: var(--color--);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
a,
span {
  transition: 0.5s color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background--) inset !important;
  -webkit-text-fill-color: var(--color--) !important;
}
input:-moz-autofill {
  box-shadow: 0 0 0 30px var(--background--) inset !important;
  -moz-text-fill-color: var(--color--) !important;
}

/* Colors & Sizes */

/* navigation bar  */
nav {
  position: relative;
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  z-index: 1;
}
nav .logo {
  font-family: tiny;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}
nav .right {
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  user-select: none;
}
nav .right .light-dark {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .right .light-dark #switcher {
  height: 25px;
  width: 25px;
  background: var(--switcher--);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  cursor: pointer;
}
nav .right .light-dark #switcher img {
  height: 15px;
  width: 15px;
  transition: 0.5s rotate, 0.5s background;
}
nav .right .light-dark #switcher svg {
  height: 15px;
  width: 15px;
  transition: 0.5s rotate, 0.5s background;
}
nav .right .light-dark #switcher.active img {
  rotate: 180deg;
}
nav .right .humberger {
  position: fixed;
  right: 100px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}
nav .right .humberger::before,
nav .right .humberger::after {
  content: "";
  height: 2px;
  width: 50%;
  margin: 2px;
  background: var(--color--);
  transition: 0.5s background, 0.5s transform, 0.5s margin, 0.5s position;
}
nav .right .humberger.active::before {
  position: absolute;
  margin: 0px;
  transform: rotate(45deg);
  transition: 0.5s background, 0.5s transform, 0.5s margin, 0.5s position;
}
nav .right .humberger.active::after {
  position: absolute;
  margin: 0px;
  transform: rotate(-45deg);
  transition: 0.5s background, 0.5s transform, 0.5s margin, 0.5s position;
}
nav .bg-eff {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0000;
  pointer-events: none;
  transition: 0.5s background;
}
nav .bg-eff.active {
  background: #46464679;
  pointer-events: unset;
}
nav .links {
  position: fixed;
  top: 0;
  right: -40%;
  height: 100vh;
  width: 40%;
  background: var(--background--);
  padding: 50px 0 100px 7vw;
  display: flex;
  transition: 0.5s background, 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}
nav .links.active {
  right: 0%;
  transition: 0.5s background, 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--links-layer--);
  z-index: 1;
  transition: 1s background cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links.active::before {
  pointer-events: none;
  background: #0000;
  transition: 1s background cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.2s;
}
nav .links .social {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
}
nav .links .social .social-content {
  transform: translateY(-10%);
  height: 443px;
}
nav .links .social .social-content li p {
  padding: 30px 0;
  letter-spacing: -0.05em;
  color: gray;
}
nav .links .social .social-content li a {
  position: relative;
  letter-spacing: -0.05em;
  font-size: 20px;
  display: inline-flex;
  padding: 5px 0;
}
nav .links .social .social-content li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background: var(--color--);
  transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links .social .social-content li a:hover:before {
  width: 100%;
}
nav .links .main {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 6vw;
  overflow: visible;
}
nav .links .main .main-content {
  transform: translateY(-10%);
}
nav .links .main .main-content li p {
  padding: 30px 0;
  letter-spacing: -0.05em;
  color: gray;
}
nav .links .main .main-content li {
  overflow: visible;
}
nav .links .main .main-content li a {
  position: relative;
  letter-spacing: -0.05em;
  font-size: 55px;
  width: auto;
  padding: 0 3px 0 0;
  overflow: visible;
}
nav .links .main .main-content li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background: var(--color--);
  transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links .main .main-content li a:hover:before {
  width: 100%;
}
nav .links .touch {
  position: absolute;
  bottom: 100px;
  overflow: visible;
}
nav .links .touch a {
  position: relative;
}
nav .links .touch a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background: var(--color--);
  transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links .touch a:hover:before {
  width: 100%;
}

@media screen and (min-width: 2570px) {
  body {
    background: red;
  }
  .links.active {
    right: -34%;
    width: 34%;
    padding: 50px 0 100px 150px;
  }
  nav .links .main {
    margin-left: 150px;
  }
}
@media screen and (min-width: 2800px) {
  body {
    background: red;
  }
  .links.active {
    right: -30%;
    width: 30%;
    padding: 50px 0 100px 150px;
  }
  nav .links .main {
    margin-left: 150px;
  }
}
@media screen and (max-width: 2200px) {
  nav .links {
    right: -44%;
    width: 44%;
  }
}
@media screen and (max-width: 1920px) {
  nav .links {
    right: -45%;
    width: 45%;
  }
}
@media screen and (max-width: 1920px) {
  nav .links {
    right: -40%;
    width: 40%;
  }
  nav .links .social .social-content {
    height: 341px;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
    padding: 2.5px 0;
  }
  nav .links .main .main-content li a {
    font-size: 40px;
  }
}
@media screen and (max-width: 1650px) {
  nav .links {
    right: -45%;
    width: 45%;
  }
  nav .links .social .social-content {
    height: 341px;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
    padding: 2.5px 0;
  }
  nav .links .main .main-content li a {
    font-size: 40px;
  }
}
@media screen and (max-width: 1600px) {
  nav .links {
    right: -45%;
    width: 45%;
    padding: 50px 0 100px 8vw;
  }
  nav .links .social .social-content {
    height: 341px;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
    padding: 2.5px 0;
  }
  nav .links .main .main-content li a {
    font-size: 40px;
  }
}
@media screen and (max-width: 1440px) {
  nav {
    height: 90px;
  }
  nav .links {
    right: -45%;
    width: 45%;
    padding: 50px 0 100px 8vw;
  }
  nav .links .social .social-content {
    height: 286px;
  }
  nav .links .main .main-content li a {
    font-size: 37px;
  }
  nav .links .social .social-content li p,
  nav .links .main .main-content li p {
    padding: 10px 0;
  }
}
@media screen and (max-width: 1366px) {
  nav {
    height: 70px;
  }
  nav .links {
    right: -40%;
    width: 40%;
    padding: 50px 0 100px 7vw;
  }
  nav .links .social .social-content {
    height: 236px;
  }
  nav .links .main {
    margin-left: 4vw;
  }
  nav .links .main .main-content li a {
    font-size: 30px;
  }
  nav .links .social .social-content li p,
  nav .links .main .main-content li p,
  .touch p {
    padding: 10px 0;
    font-size: 12px;
  }
  nav .links .touch {
    position: absolute;
    bottom: 50px;
    overflow: visible;
  }
  .touch p {
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  nav {
    height: 70px;
  }
  nav .links {
    right: -46%;
    width: 46%;
    padding: 50px 0 100px 7vw;
  }
  nav .links .social .social-content {
    height: 236px;
  }
  nav .links .main {
    margin-left: 4vw;
  }
  nav .links .main .main-content li a {
    font-size: 30px;
  }
  nav .links .social .social-content li p,
  nav .links .main .main-content li p,
  .touch p {
    padding: 10px 0;
    font-size: 12px;
  }
  nav .links .touch {
    position: absolute;
    bottom: 50px;
    overflow: visible;
  }
  .touch p {
    padding: 0;
  }
}
@media screen and (min-height: 1440px) and (max-width: 1920px) {
  nav .links {
    right: -45%;
    width: 45%;
  }
  nav .links .social .social-content {
    height: 411px;
  }
  nav .links .main .main-content li a {
    font-size: 50px;
  }
}
@media screen and (min-height: 1200px) and (max-width: 1920px) {
  nav .links {
    right: -45%;
    width: 45%;
  }
  nav .links .social .social-content {
    height: 411px;
  }
  nav .links .main .main-content li a {
    font-size: 50px;
  }
}
@media screen and (min-height: 1080px) and (max-width: 1920px) {
  nav .links {
    right: -40%;
    width: 40%;
  }
  nav .links .social .social-content {
    height: 341px;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
    padding: 2.5px 0;
  }
  nav .links .main .main-content li a {
    font-size: 40px;
  }
}
@media screen and (min-height: 1080px) and (max-width: 1650px) {
  nav .links {
    right: -45%;
    width: 45%;
  }
  nav .links .social .social-content {
    height: 341px;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
    padding: 2.5px 0;
  }
  nav .links .main .main-content li a {
    font-size: 40px;
  }
}
@media screen and (min-height: 1200px) and (max-width: 1600px) {
  nav .links {
    right: -45%;
    width: 45%;
  }
  nav .links .social .social-content {
    height: 341px;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
    padding: 2.5px 0;
  }
  nav .links .main .main-content li a {
    font-size: 40px;
  }
}
@media screen and (min-height: 900px) and (max-width: 1440px) {
  nav {
    height: 90px;
  }
  nav .links {
    right: -50%;
    width: 50%;
    padding: 50px 0 100px 9vw;
  }
  nav .links .social .social-content {
    height: 286px;
  }
  nav .links .main .main-content li a {
    font-size: 37px;
  }
  nav .links .social .social-content li p,
  nav .links .main .main-content li p {
    padding: 10px 0;
  }
}
@media screen and (min-height: 768px) and (max-width: 1366px) {
  nav {
    height: 70px;
  }
  nav .links {
    right: -50%;
    width: 50%;
    padding: 50px 0 100px 9vw;
  }
  nav .links .social .social-content {
    height: 281px;
  }
  nav .links .main {
    margin-left: 6vw;
  }
  nav .links .main .main-content li a {
    font-size: 37px;
  }
  nav .links .social .social-content li p,
  nav .links .main .main-content li p,
  .touch p {
    padding: 10px 0;
    font-size: 12px;
  }
  nav .links .touch {
    position: absolute;
    bottom: 100px;
    overflow: visible;
  }
  .touch p {
    padding: 0;
  }
}
@media screen and (min-height: 768px) and (max-width: 1024px) {
  nav {
    height: 70px;
  }
  nav .links {
    right: -46%;
    width: 46%;
    padding: 50px 0 100px 7vw;
  }
  nav .links .social .social-content {
    height: 236px;
  }
  nav .links .main {
    margin-left: 4vw;
  }
  nav .links .main .main-content li a {
    font-size: 30px;
  }
  nav .links .social .social-content li p,
  nav .links .main .main-content li p,
  .touch p {
    padding: 10px 0;
    font-size: 12px;
  }
  nav .links .touch {
    position: absolute;
    bottom: 50px;
    overflow: visible;
  }
  .touch p {
    padding: 0;
  }
}
/* navigation bar  */

/* container  */
.container {
  margin: 0 auto;
  min-height: 100vh;
  width: var(--width--);
}
/* container  */
