* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Averta;
  text-decoration: none;
  font-weight: 100;
  overflow-x: hidden;
}

/* Font Faces  */

@font-face {
  font-family: Averta;
  src: url("../fonts/AvertaRegular.ttf");
}

@font-face {
  font-family: AvertaSemi;
  src: url("../fonts/AvertaSemibold.ttf");
}

@font-face {
  font-family: AvertaBold;
  src: url("../fonts/AvertaBolder.otf");
}

@font-face {
  font-family: Tiny;
  src: url("../fonts/Tiny.ttf");
}

@font-face {
  font-family: Graphire;
  src: url("../fonts/Graphire.ttf");
}

@font-face {
  font-family: Legquinne;
  src: url("../fonts/Legquinne.otf");
}

/* Font Faces  */

/* Colors & Sizes */

body {
  --width--: 1280px;
  --background--: #212121;
  --color--: #fff;
  --pColor--: #d7d7d7;
  --black--: #000;
  --links-layer--: #111;
  --switcher--: #525252;

  /* Body Background */
  background: var(--background--);
  color: var(--color--);
  /* Body Background */

  transition: 0.5s all;
}
body.active {
  --background--: #fefefe;
  --color--: #000;
  --pColor--: #383838;
  --black--: #000;
  --links-layer--: #ddd;
  --switcher--: #c0c0c0;
}
p {
  font-size: 16px;
  color: var(--pColor--);
}
a {
  font-size: 16px;
  color: var(--color--);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b,
a,
span {
  transition: 0.5s color;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--background--) inset !important;
  -webkit-text-fill-color: var(--color--) !important;
}
input:-moz-autofill {
  box-shadow: 0 0 0 30px var(--background--) inset !important;
  -moz-text-fill-color: var(--color--) !important;
}

/* Colors & Sizes */

/* navigation bar  */
nav {
  position: relative;
  height: 7.5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  z-index: 1;
  overflow: visible;
}
nav .logo {
  font-family: tiny;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
}
nav .right {
  height: 50px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: right;
  overflow: visible;
  user-select: none;
}
nav .right .light-dark {
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}
nav .right .light-dark #switcher {
  height: 22.5px;
  width: 22.5px;
  background: var(--switcher--);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  cursor: pointer;
}
nav .right .light-dark #switcher img {
  height: 12.5px;
  width: 12.5px;
  transition: 0.5s rotate, 0.5s background;
}
nav .right .light-dark #switcher svg {
  height: 15px;
  width: 15px;
  transition: 0.5s rotate, 0.5s background;
}
nav .right .light-dark #switcher.active img {
  rotate: 180deg;
}
nav .right .humberger {
  position: fixed;
  right: 140px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  z-index: 1;
}
nav .right .humberger::before,
nav .right .humberger::after {
  content: "";
  height: 2px;
  width: 100%;
  margin: 2px;
  background: var(--color--);
  transition: 0.5s background, 0.5s transform, 0.5s margin, 0.5s position;
}
nav .right .humberger.active::before {
  position: absolute;
  margin: 0px;
  transform: rotate(45deg);
  transition: 0.5s background, 0.5s transform, 0.5s margin, 0.5s position;
}
nav .right .humberger.active::after {
  position: absolute;
  margin: 0px;
  transform: rotate(-45deg);
  transition: 0.5s background, 0.5s transform, 0.5s margin, 0.5s position;
}
nav .bg-eff {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0000;
  pointer-events: none;
  transition: 0.5s background;
}
nav .bg-eff.active {
  background: #46464679;
  pointer-events: unset;
}
nav .links {
  position: fixed;
  top: 0;
  height: 100vh;
  right: -950px;
  width: 950px;
  padding: 50px 0 100px 190px;
  background: var(--background--);
  display: flex;
  transition: 0.5s background, 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}
nav .links.active {
  right: 0;
  transition: 0.5s background, 1s right cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: var(--links-layer--);
  z-index: 1;
  transition: 1s background cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links.active::before {
  pointer-events: none;
  background: #0000;
  transition: 1s background cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.2s;
}
nav .links .social {
  height: 100%;
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: visible;
}
nav .links .social .social-content {
  transform: translateY(-10%);
  height: 440px;
}
nav .links .social .social-content li p {
  padding: 30px 0;
  letter-spacing: -0.05em;
  color: gray;
  font-size: 15px;
}
nav .links .social .social-content li a {
  position: relative;
  letter-spacing: -0.05em;
  font-size: 20px;
  display: inline-flex;
  padding: 2.5px 0;
}
nav .links .social .social-content li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background: var(--color--);
  transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links .social .social-content li a:hover:before {
  width: 100%;
}
nav .links .main {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 150px;
  overflow: visible;
}
nav .links .main .main-content {
  transform: translateY(-10%);
}
nav .links .main .main-content li p {
  padding: 30px 0;
  letter-spacing: -0.05em;
  color: gray;
  font-size: 15px;
}
nav .links .main .main-content li {
  overflow: visible;
}
nav .links .main .main-content li a {
  position: relative;
  letter-spacing: -0.05em;
  font-size: 55px;
  width: auto;
  padding: 0 3px 0 0;
  overflow: visible;
}
nav .links .main .main-content li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0px;
  background: var(--color--);
  transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links .main .main-content li a:hover:before {
  width: 100%;
}
nav .links .touch {
  position: absolute;
  bottom: 100px;
  overflow: visible;
}
nav .links .touch a {
  position: relative;
}
nav .links .touch a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 16px;
  height: 2px;
  width: 0px;
  background: var(--color--);
  transition: 1s width cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav .links .touch a:hover:before {
  width: 100%;
}
nav {
  position: relative;
  border: 1px solid black;
}
nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 50px;
  width: 1px;
  background: red;
  z-index: 1;
}
@media screen and (max-width: 2230px) and (max-height: 1080px) {
  nav .links {
    right: -755px;
    width: 755px;
    padding: 50px 0 100px 151px;
  }
  nav .links .social .social-content {
    transform: translateY(-10%);
    height: 340px;
    overflow: visible;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
  }
  nav .links .main {
    margin-left: 108px;
  }
  nav .links .main .main-content li a {
    font-size: 40px;
  }
}
@media screen and (max-width: 1920px) {
  nav .links {
    right: -855px;
    width: 855px;
    padding: 50px 0 100px 171px;
  }
  nav .links .social .social-content {
    transform: translateY(-10%);
    height: 380px;
  }
  nav .links .main .main-content li a {
    font-size: 45px;
  }
}
@media screen and (max-width: 1920px) and (max-height: 1080px) {
  nav .links {
    right: -777px;
    width: 777px;
    padding: 50px 0 100px 155px;
  }
  nav .links .main {
    margin-left: 113px;
  }
}
@media screen and (max-width: 1768px) {
  nav .links {
    right: -785px;
    width: 785px;
    padding: 50px 0 100px 171px;
  }
  nav .links .social .social-content {
    transform: translateY(-10%);
    height: 340px;
    overflow: visible;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
  }
  nav .links .main {
    margin-left: 108px;
  }
  nav .links .main .main-content li a {
    font-size: 40px;
  }
}
@media screen and (max-width: 1650px) {
  nav .links {
    right: -725px;
    width: 725px;
    padding: 50px 0 100px 160px;
  }
  nav .links .social .social-content {
    transform: translateY(-10%);
    height: 307px;
    overflow: visible;
  }
  nav .links .social .social-content li p {
    padding: 15px 0;
    font-size: 13px;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
  }
  nav .links .main {
    margin-left: 90px;
  }
  nav .links .main .main-content li p {
    padding: 15px 0;
    font-size: 13px;
  }
  nav .links .main .main-content li a {
    font-size: 40px;
  }
  nav .links .touch p {
    font-size: 13px;
  }
}
@media screen and (max-width: 1455px) {
  nav .links {
    right: -655px;
    width: 655px;
    padding: 50px 0 100px 145px;
  }
  nav .links .social .social-content {
    transform: translateY(-10%);
    height: 267px;
    overflow: visible;
  }
  nav .links .social .social-content li p {
    padding: 10px 0;
    font-size: 13px;
  }
  nav .links .social .social-content li a {
    font-size: 16px;
    padding: 0;
  }
  nav .links .main {
    margin-left: 70px;
  }
  nav .links .main .main-content li p {
    padding: 10px 0;
    font-size: 13px;
  }
  nav .links .main .main-content li a {
    font-size: 35px;
  }
  nav .links .touch p {
    font-size: 13px;
  }
}
@media screen and (max-width: 1455px) {
  nav {
    padding: 0 40px;
  }
  nav .logo {
    font-size: 16px;
  }
  nav .right .humberger {
    right: 80px;
    width: 20px;
  }
  nav .right .light-dark {
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }
  nav .right .light-dark #switcher {
    height: 20px;
    width: 20px;
    background: var(--switcher--);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    cursor: pointer;
  }
  nav .right .light-dark #switcher img {
    height: 10px;
    width: 10px;
    transition: 0.5s rotate, 0.5s background;
  }
  nav .links {
    right: -580px;
    width: 580px;
    padding: 50px 0 100px 120px;
  }
  nav .links .social .social-content {
    height: 237px;
  }
  nav .links .main {
    margin-left: 50px;
  }
  nav .links .main .main-content li a {
    font-size: 30px;
  }
}
@media screen and (max-width:1280px) and (max-height:800px) {
  nav .links {
    right: -530px;
    width: 530px;
    padding: 50px 0 100px 100px;
}
}
@media screen and (max-width: 580px) {
  nav {
    padding: 0 20px;
  }
  nav .right .humberger {
    right: 60px;
  }
  nav .links {
    right: -100%;
    width: 100%;
    padding: 50px 0 100px 80px;
  }
  nav .links .social .social-content {
    height: 237px;
  }
  nav .links .main {
    margin-left: 50px;
  }
  nav .links .main .main-content li a {
    font-size: 30px;
  }
}
@media screen and (max-width: 500px) {
  nav .links .social {
    display: none;
  }
  nav .links .main {
    margin-left: 0px;
  }
  nav .links .main .main-content li a {
    font-size: 25px;
  }
}
@media screen and (max-width: 400px) {
  nav .links {
    right: -100%;
    width: 100%;
    padding: 50px 0 100px 40px;
  }
  nav .links .main {
    margin-left: 0px;
  }
  nav .links .main .main-content li a {
    font-size: 25px;
  }
}

/* navigation bar  */

/* container  */
.container {
  margin: 0 auto;
  min-height: 100vh;
  width: var(--width--);
  overflow: visible;
}
/* container  */
