/* section1 */
.section1 {
  overflow: visible;
}
.section1 .upper-text {
  min-height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section1 .upper-text h1 {
  font-family: graphire;
  font-size: 4em;
  line-height: 100%;
  overflow: visible;
}
.section1 .content {
  position: relative;
  height: 648px;
  display: flex;
  align-items: center;
  overflow: visible;
}
.section1 .content .image {
  position: absolute;
  right: 0;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 50px black);
}
body.active .section1 .content .image {
  filter: drop-shadow(0 0 50px #0000003a);
}
.section1 .content .image img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
body .section1 .content .text {
  height: 300px;
  width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 80px;
  background: #2121214d;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 50px var(--black--);
}
body.active .section1 .content .text {
  background: #c3c3c365;
  box-shadow: 0 0 50px #0000003a;
}
body .section1 .content .text h1 {
  font-family: legquinne;
  line-height: 120%;
  font-size: 3em;
  overflow: visible;
}
.section1 .slider {
  width: 100%;
  mask-image: linear-gradient(to right, #0000, #000 10% 80%, #0000);
}
.section1 .slider .one {
  min-height: 150px;
  min-width: 453%;
  width: 516%;
  max-width: 516%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.section1 .slider .one p {
  overflow: hidden;
  transform: translateX(0%);
  white-space: nowrap;
  animation: slider 10s infinite linear;
}
.section1 .slider .one p span {
  color: var(--pcolor--);
  font-family: averta;
  letter-spacing: -0.05em;
  font-size: 3em;
  margin: 0 50px 0 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s color;
}
@keyframes slider {
  to {
    transform: translateX(-100%);
  }
}
/* section1 */
@media screen and (max-width: 1920px) {
  .section1 {
    width: var(--width--);
  }
  .section1 .upper-text {
    min-height: 420px;
  }
  .section1 .upper-text h1 {
    font-size: 4.2em;
  }
  .section1 .content {
    height: 648px;
  }
  body .section1 .content .text {
    height: 350px;
    width: 480px;
    padding: 0 0 0 60px;
  }
  body .section1 .content .text h1 {
    font-size: 3em;
  }
  .section1 .slider .one {
    min-height: 150px;
  }
  .section1 .slider .one p span {
    font-size: 3em;
    margin: 0 50px 0 0;
  }
}
@media screen and (max-width: 1790px) {
  body {
    --width--: 1111px;
  }
  .section1 .upper-text {
    min-height: 360px;
  }
  .section1 .upper-text h1 {
    font-size: 3.7em;
  }
  .section1 .content {
    height: 561px;
  }
  body .section1 .content .text {
    height: 310px;
    width: 430px;
  }
  body .section1 .content .text h1 {
    font-size: 2.7em;
  }
  .section1 .slider .one {
    min-height: 140px;
  }
  .section1 .slider .one p span {
    font-size: 2.7em;
  }
}
@media screen and (max-width: 1600px) {
  body {
    --width--: 1000px;
  }
  .section1 .upper-text {
    min-height: 290px;
  }
  .section1 .upper-text h1 {
    font-size: 3em;
  }
  .section1 .content {
    height: 505px;
  }
  body .section1 .content .text {
    height: 230px;
    width: 330px;
    padding: 0 0 0 45px;
  }
  body .section1 .content .text h1 {
    font-size: 2.3em;
  }
  .section1 .slider .one {
    min-height: 100px;
  }
  .section1 .slider .one p span {
    font-size: 2.3em;
  }
}
@media screen and (max-height: 900px) and (max-width: 1600px) {
  body {
    --width--: 855px;
  }
  nav {
    height: 60px;
  }
  .section1 .upper-text {
    min-height: 225px;
  }
  .section1 .upper-text h1 {
    font-size: 2.5em;
  }
  .section1 .content {
    height: 432px;
  }
  body .section1 .content .text {
    height: 205px;
    width: 290px;
    padding: 0 0 0 30px;
  }
  body .section1 .content .text h1 {
    font-size: 2em;
  }
  .section1 .slider .one p span {
    font-size: 2em;
  }
}
@media screen and (max-width: 1325px) {
  body {
    --width--: 950px;
  }
  .section1 .upper-text {
    min-height: 300px;
  }
  .section1 .upper-text h1 {
    font-size: 2.9em;
  }
  .section1 .content {
    height: 480px;
  }
  body .section1 .content .text h1 {
    font-size: 2.3em;
  }
  .section1 .slider .one {
    min-height: 123px;
  }
  .section1 .slider .one p span {
    font-size: 2.3em;
  }
}
@media screen and (max-width: 1280px) {
  body {
    --width--: 850px;
  }
  .section1 .upper-text {
    min-height: 260px;
  }
  .section1 .upper-text h1 {
    font-size: 2.9em;
  }
  .section1 .content {
    height: 430px;
  }
  body .section1 .content .text {
    height: 241px;
    width: 318px;
    padding: 0 0 0 45px;
  }
  body .section1 .content .text h1 {
    font-size: 2.1em;
  }
  .section1 .slider .one {
    min-height: 100px;
  }
  .section1 .slider .one p span {
    font-size: 2.1em;
  }
}
@media screen and (max-width: 900px) {
  body {
    --width--: 750px;
  }
  .section1 .upper-text {
    min-height: 225px;
  }
  .section1 .upper-text h1 {
    font-size: 2.3em;
  }
  .section1 .content {
    height: 380px;
  }
  body .section1 .content .text {
    height: 205px;
    width: 275px;
    padding: 0 0 0 35px;
  }
  body .section1 .content .text h1 {
    font-size: 1.8em;
  }
  .section1 .slider .one {
    min-height: 80px;
  }
  .section1 .slider .one p span {
    font-size: 1.8em;
  }
}

/* section2 */
header {
  min-height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header h2 {
  color: #fff;
  font-size: 3em;
  line-height: 120%;
  font-family: graphire;
  font-weight: 100;
  overflow: hidden;
}

.section2 {
  width: 100%;
}
.section2 header h2 {
  text-align: center;
}
.section2 .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.section2 .content .feature {
  border: 1px solid #111;
  border-radius: 10px;
  margin: 20px;
  min-height: 300px;
  max-height: 423px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 100px 20px;
}
.section2 .content .feature img {
  min-height: 50px;
  width: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
.section2 .content .feature h3 {
  font-weight: 100;
  padding: 20px 0;
  overflow: visible;
}
.section2 .content .feature p {
  overflow: visible;
}
/* section2 */
