/* section1 */
.section1 {
  width: 1500px;
  margin: 0 auto;
  overflow: visible;
}
.section1 .upper-text {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section1 .upper-text h1 {
  font-family: graphire;
  font-size: 5em;
  line-height: 100%;
  overflow: visible;
}
.section1 .upper-text h1 span {
  font-family: graphire;
  font-size: 1em;
  line-height: 100%;
  overflow: visible;
}
.section1 .content {
  position: relative;
  height: 761px;
  display: flex;
  align-items: center;
  overflow: visible;
}
.section1 .content .image {
  position: absolute;
  right: 0;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 50px black);
}
body.active .section1 .content .image {
  filter: drop-shadow(0 0 50px #0000003a);
}
.section1 .content .image img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
body .section1 .content .text {
  height: 450px;
  width: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 100px;
  background: #2121214d;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 50px var(--black--);
}
body.active .section1 .content .text {
  background: #c3c3c365;
  box-shadow: 0 0 50px #0000003a;
}
body .section1 .content .text h1 {
  font-family: legquinne;
  line-height: 120%;
  font-size: 4em;
  overflow: visible;
}
.section1 .slider {
  width: 100%;
  mask-image: linear-gradient(to right, #0000, #000 10% 80%, #0000);
}
.section1 .slider .one {
  min-height: 300px;
  min-width: 453%;
  width: 516%;
  max-width: 516%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.section1 .slider .one p {
  overflow: hidden;
  transform: translateX(0%);
  white-space: nowrap;
  animation: slider 10s infinite linear;
}
.section1 .slider .one p span {
  color: var(--pcolor--);
  font-family: graphire;
  font-size: 5em;
  margin: 0 50px 0 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s color;
}
@keyframes slider {
  to {
    transform: translateX(-100%);
  }
}

/* section1 */
