/* section1 */
.section1 {
  overflow: visible;
}
.section1 .upper-text {
  padding: 50px 0;
  text-align: center;
}
.section1 .upper-text h1 {
  font-family: graphire;
  font-size: 4em;
  line-height: 100%;
  overflow: visible;
}
.section1 .content {
  position: relative;
  height: 648px;
  display: flex;
  align-items: center;
  overflow: visible;
}
.section1 .content .image {
  position: absolute;
  right: 0;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 0 50px black);
  z-index: -1;
  transition: 0.5s filter;
  overflow: visible;
  transition: 0.5s box-shadow;
}
body.active .section1 .content .image {
  filter: drop-shadow(0 0 50px #0000003a);
  transition: 0.5s filter;
  overflow: visible;
  transition: 0.5s box-shadow;
}
.section1 .content .image img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
body .section1 .content .text {
  height: 320px;
  width: 450px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 0 80px;
  background: #2121214d;
  backdrop-filter: blur(50px);
  box-shadow: 0 0 50px var(--black--);
  transition: 0.5s background, 0.5s box-shadow;
}
body.active .section1 .content .text {
  background: #e7e7e765;
  box-shadow: 0 0 50px #0000003a;
  transition: 0.5s background, 0.5s box-shadow;
}
body .section1 .content .text h1 {
  font-family: legquinne;
  line-height: 120%;
  font-size: 3em;
  overflow: visible;
}
.section1 .slider {
  width: 100%;
  mask-image: linear-gradient(to right, #0000, #000 10% 80%, #0000);
}
.section1 .slider .one {
  min-height: 150px;
  min-width: 453%;
  width: 516%;
  max-width: 516%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.section1 .slider .one p {
  overflow: hidden;
  transform: translateX(0%);
  white-space: nowrap;
  animation: slider 10s infinite linear;
}
.section1 .slider .one p span {
  color: var(--pcolor--);
  font-family: averta;
  letter-spacing: -0.05em;
  font-size: 3em;
  margin: 0 50px 0 0;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.5s color;
}
@keyframes slider {
  to {
    transform: translateX(-100%);
  }
}
/* section1 */

/* section2 */
header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 50px 0 0 0;
}
header h2 {
  font-size: 2.5em;
  padding: 30px 5px;
  text-align: left;
  letter-spacing: -0.05em;
}
.section2 header {
  justify-content: center;
}
.section2 header h2 {
  text-align: center;
}
.section2 .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}
.section2 .content .feature {
  height: 300px;
  width: 300px;
  padding: 45px 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  flex-direction: column;
}
.section2 .content .feature img {
  height: auto;
  width: 50px;
  margin: 20px 0;
  border-radius: 10px;
}
.section2 .content .feature p,
.section2 .content .feature h3 {
  text-align: center;
  letter-spacing: -0.05em;
}
.section2 .content .feature p {
  padding: 10px 0;
}
/* section2 */

/* section3 */
.section3 .content .top {
  display: grid;
  grid-template-columns: 25% 25% 1fr;
}
.section3 .content .bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.section3 .content .top div,
.section3 .content .bottom div {
  height: 300px;
}
.section3 .content .top .poster {
  position: relative;
  margin: 10px;
  overflow: hidden;
  border: 1px solid var(--switcher--);
}
.section3 .content .top .poster .image {
  height: 300px;
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section3 .content .top .poster .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
}
.section3 .content .top .poster .text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, black, transparent);
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.section3 .content .top .poster .text h1 {
  font-family: legquinne;
  line-height: 100%;
  overflow: visible;
  letter-spacing: 0;
  font-size: 2.5rem;
  color: white;
}
.section3 .content .top .poster .text h1 span {
  font-family: legquinne;
  color: white;
  text-decoration: 1px underline;
}
.section3 .content .top .card,
.section3 .content .bottom .card {
  position: relative;
  margin: 10px;
  overflow: hidden;
  border: 1px solid var(--switcher--);
}
.section3 .content .top .card .image,
.section3 .content .bottom .card .image {
  height: 199px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
.section3 .content .top .card .image img,
.section3 .content .bottom .card .image img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.section3 .content .top .card .text,
.section3 .content .bottom .card .text {
  position: relative;
  height: 99.33px;
  width: 100%;
  padding: 10px;
}
.section3 .content .top .card .text img,
.section3 .content .bottom .card .text img {
  height: auto;
  width: 25%;
  object-fit: cover;
}
.section3 .content .top .card .text ul,
.section3 .content .bottom .card .text ul {
  position: absolute;
  bottom: 10px;
  left: 0px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section3 .content .top .card .text ul li:nth-child(2),
.section3 .content .bottom .card .text ul li:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--switcher--);
  width: 50px;
}
.section3 .content .top .card .text ul li a,
.section3 .content .bottom .card .text ul li a {
  overflow: hidden;
  transform: translateY(-2px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
/* section3 */

/* section4 */
.section4 {
  min-height: 200px;
  display: grid;
  margin: 100px 10px 0 10px;
  grid-template-columns: 40% 1fr;
  padding: 0 10px;
}
.section4 h2 {
  color: var(--color--);
  font-size: 2.5em;
  line-height: 120%;
  font-family: graphire;
  font-weight: 100;
  overflow: hidden;
}
.section4 p {
  padding: 10px 0;
}
.section4 p span {
  font-size: 1.2em;
  font-family: tiny;
  padding: 0 10px;
}
.parallaxedImage {
  margin: 50px 10px;
  height: 800px;
  overflow: hidden;
}
.parallaxedImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: -10%;
}
/* section4  */

/* section 5 */
.section5 .content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.section5 .content .card {
  position: relative;
  height: 276px;
  margin: 10px;
  border: 1px solid var(--switcher--);
  overflow: hidden;
}
.section5 .content .card .image {
  height: 199px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}
.section5 .content .card .image img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
.section5 .content .card .text {
  position: relative;
  height: 75px;
  width: 100%;
  padding: 10px;
}
.section5 .content .card .text ul {
  position: absolute;
  bottom: 10px;
  left: 0px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section5 .content .card .text ul li:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--switcher--);
  width: 50px;
}
.section5 .content .card .text ul li a {
  overflow: hidden;
  transform: translateY(-2px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
/* section 5 */

@media screen and (max-width: 1920px) and (max-height: 1100px) {
  body {
    --width--: 1000px;
  }
  .section1 .upper-text h1 {
    font-size: 3.2em;
  }
  .section1 .content {
    height: 507px;
  }
  body .section1 .content .text {
    height: 250px;
    width: 345px;
    padding: 0 0 0 60px;
  }
  body .section1 .content .text h1 {
    font-size: 2.3em;
  }
  .section1 .slider .one {
    min-height: 110px;
  }
  .section1 .slider .one p span {
    font-size: 2.3em;
  }

  /* section 2 */
}
@media screen and (max-width: 1768px) {
  body {
    --width--: 1000px;
  }
  .section1 .upper-text h1 {
    font-size: 3.2em;
  }
  .section1 .content {
    height: 507px;
  }
  body .section1 .content .text {
    height: 250px;
    width: 345px;
    padding: 0 0 0 60px;
  }
  body .section1 .content .text h1 {
    font-size: 2.3em;
  }
  .section1 .slider .one {
    min-height: 110px;
  }
  .section1 .slider .one p span {
    font-size: 2.3em;
  }

  /* section2  */
  header h2 {
    font-size: 2.2em;
    padding: 30px 0;
  }

  /* section3  */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 269px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 167px;
  }
  .section3 .content .top .poster .text h1 {
    font-size: 2.2rem;
  }

  /* section4  */
  .section4 h2 {
    font-size: 2.2em;
  }
  .parallaxedImage {
    height: 755px;
  }

  /* section 5  */
  .section5 .content .card {
    height: 244px;
  }
  .section5 .content .card .image {
    height: 167px;
  }
}
@media screen and (max-width: 1768px) and (max-height: 992px) {
  body {
    --width--: 875px;
  }
  .section1 .upper-text {
    padding: 30px 0;
    text-align: center;
  }
  .section1 .upper-text h1 {
    font-size: 2.7em;
  }
  .section1 .content {
    height: 444px;
  }
  body .section1 .content .text {
    height: 210px;
    width: 300px;
    padding: 0 0 0 45px;
  }
  body .section1 .content .text h1 {
    font-size: 2em;
  }
  .section1 .slider .one {
    min-height: 90px;
  }
  .section1 .slider .one p span {
    font-size: 2em;
  }

  /* section2  */
  header h2 {
    font-size: 2em;
    padding: 30px 0;
  }
  .section2 .content .feature {
    width: 275px;
    padding: 45px 20px 20px 20px;
  }

  /* section3  */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 247px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 145px;
  }
  .section3 .content .top .poster .text h1 {
    font-size: 1.5rem;
  }

  /* section4  */
  .section4 h2 {
    font-size: 2em;
  }
  .parallaxedImage {
    height: 670px;
  }

  /* section 5  */
  .section5 .content .card {
    height: 222px;
  }
  .section5 .content .card .image {
    height: 145px;
  }
}
@media screen and (max-width: 1650px) {
  body {
    --width--: 875px;
  }
  .section1 .upper-text {
    padding: 30px 0;
    text-align: center;
  }
  .section1 .upper-text h1 {
    font-size: 2.7em;
  }
  .section1 .content {
    height: 444px;
  }
  body .section1 .content .text {
    height: 210px;
    width: 300px;
    padding: 0 0 0 45px;
  }
  body .section1 .content .text h1 {
    font-size: 2em;
  }
  .section1 .slider .one {
    min-height: 90px;
  }
  .section1 .slider .one p span {
    font-size: 2em;
  }

  /* section2  */
  header h2 {
    font-size: 1.5em;
    padding: 30px 0;
  }
  .section2 .content .feature {
    width: 249px;
    height: 250px;
    padding: 20px 10px 10px 10px;
  }
  .section2 .content .feature h3 {
    font-size: 1rem;
  }

  /* .section3 */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 247px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 145px;
  }
  .section3 .content .top .poster .text h1 {
    font-size: 1.5rem;
  }

  /* section4  */
  .section4 {
    min-height: 161px;
  }
  .section4 h2 {
    font-size: 1.5em;
  }
  .section4 p {
    padding: 2px 0;
  }
  .parallaxedImage {
    height: 670px;
  }
  /* section 5  */
  .section5 .content .card {
    height: 222px;
  }
  .section5 .content .card .image {
    height: 145px;
  }
}
@media screen and (max-width: 1440px) and (max-height: 900px) {
  body {
    --width--: 800px;
  }
  .section1 .upper-text h1 {
    font-size: 2.5em;
  }
  .section1 .content {
    height: 406px;
  }
  body .section1 .content .text {
    height: 180px;
    width: 265px;
    padding: 0 0 0 34px;
  }
  body .section1 .content .text h1 {
    font-size: 1.8em;
  }
  .section1 .slider .one {
    min-height: 70px;
  }
  .section1 .slider .one p span {
    font-size: 1.8em;
  }

  /* section2  */
  header h2 {
    font-size: 1.3em;
    padding: 30px 0;
  }
  .section2 .content .feature {
    width: 249px;
    height: 250px;
    padding: 20px 10px 10px 10px;
  }
  .section2 .content .feature h3 {
    font-size: 1rem;
  }

  /* section4  */
  .section4 {
    min-height: 161px;
  }
  .section4 h2 {
    font-size: 1.3em;
  }
  .section4 p {
    padding: 2px 0;
  }
  .parallaxedImage {
    height: 610px;
  }
}
@media screen and (max-width: 1366px) and (max-height: 768px) {
  body {
    --width--: 700px;
  }
  .section1 .upper-text h1 {
    font-size: 2.1em;
  }
  .section1 .content {
    height: 355px;
  }
  body .section1 .content .text {
    height: 160px;
    width: 235px;
    padding: 0 0 0 34px;
  }
  body .section1 .content .text h1 {
    font-size: 1.5em;
  }
  .section1 .slider .one {
    min-height: 70px;
  }
  .section1 .slider .one p span {
    font-size: 1.5em;
  }

  /* section2  */
  header h2 {
    font-size: 1.2em;
    padding: 20px 0;
  }
  .section2 .content .feature {
    width: 218px;
    height: 230px;
    padding: 20px 10px 10px 10px;
  }
  .section2 .content .feature img {
    width: 40px;
  }
  .section2 .content .feature p {
    font-size: 15px;
  }

  /* .section3  */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 212px;
  }
  .section3 .content .top .card,
  .section3 .content .bottom .card {
    margin: 5px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 111px;
  }
  .section3 .content .top .card .text,
  .section3 .content .bottom .card .text {
    padding: 5px;
  }
  .section3 .content .top .card .text p,
  .section3 .content .bottom .card .text p {
    font-size: 14px;
  }
  .section3 .content .top .card .text img,
  .section3 .content .bottom .card .text img {
    width: 35%;
  }
  .section3 .content .top .poster {
    margin: 5px;
  }
  .section3 .content .top .poster .image {
    display: unset;
    margin: 5px;
  }
  .section3 .content .top .poster .text h1 {
    font-size: 1.2rem;
  }
  .section3 .content .top .poster .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
  }

  /* section4  */
  .section4 {
    min-height: 161px;
    display: grid;
    margin: 50px 5px;
    grid-template-columns: 30% 1fr;
  }
  .section4 h2 {
    font-size: 1.1em;
    font-family: averta;
    letter-spacing: -0.05em;
  }
  .section4 p {
    padding: 2px 0;
    font-size: 14px;
  }
  .parallaxedImage {
    height: 500px;
    margin: 50px 5px;
  }

  /* section 5  */
  .section5 .content .card {
    height: 188px;
    margin: 5px;
  }
  .section5 .content .card .image {
    height: 111px;
  }
  .section5 .content .card .text {
    padding: 5px;
  }
  .section5 .content .card .text p {
    font-size: 14px;
  }
  .section5 .content .card .text ul {
    padding: 5px;
  }
}
@media screen and (max-width: 1280px) {
  body {
    --width--: 700px;
  }
  .section1 .upper-text h1 {
    font-size: 2.1em;
  }
  .section1 .content {
    height: 355px;
  }
  body .section1 .content .text {
    height: 160px;
    width: 235px;
    padding: 0 0 0 34px;
  }
  body .section1 .content .text h1 {
    font-size: 1.5em;
  }
  .section1 .slider .one {
    min-height: 70px;
  }
  .section1 .slider .one p span {
    font-size: 1.5em;
  }

  /* section2  */
  header h2 {
    font-size: 1.2em;
    padding: 20px 0;
  }
  .section2 .content .feature {
    width: 218px;
    height: 230px;
    padding: 20px 10px 10px 10px;
  }
  .section2 .content .feature img {
    width: 40px;
  }
  .section2 .content .feature p {
    font-size: 15px;
  }

  /* .section3  */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 212px;
  }
  .section3 .content .top .card,
  .section3 .content .bottom .card {
    margin: 5px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 111px;
  }
  .section3 .content .top .card .text,
  .section3 .content .bottom .card .text {
    padding: 5px;
  }
  .section3 .content .top .card .text p,
  .section3 .content .bottom .card .text p {
    font-size: 14px;
  }
  .section3 .content .top .card .text img,
  .section3 .content .bottom .card .text img {
    width: 35%;
  }
  .section3 .content .top .poster {
    margin: 5px;
  }
  .section3 .content .top .poster .image {
    display: unset;
    margin: 5px;
  }
  .section3 .content .top .poster .text h1 {
    font-size: 1.2rem;
  }
  .section3 .content .top .poster .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: 0;
  }

  /* section4  */
  .section4 {
    min-height: 161px;
    grid-template-columns: 30% 1fr;
    margin: 50px 5px;
  }
  .section4 h2 {
    font-family: averta;
    font-size: 1.1em;
  }
  .section4 p {
    padding: 2px 0;
    font-size: 14px;
  }
  .parallaxedImage {
    height: 500px;
    margin: 50px 5px;
  }

  /* section 5  */
  .section5 .content .card {
    height: 188px;
    margin: 5px;
  }
  .section5 .content .card .image {
    height: 111px;
  }
  .section5 .content .card .text {
    padding: 5px;
  }
  .section5 .content .card .text p {
    font-size: 14px;
  }
  .section5 .content .card .text ul {
    padding: 5px;
    bottom: 10px;
  }
}
@media screen and (max-width: 915px) {
  body {
    --width--: 700px;
  }
  .section1 .upper-text h1 {
    font-size: 2em;
  }
  .section1 .content {
    height: 356px;
  }
  body .section1 .content .text {
    height: 140px;
    width: 200px;
    padding: 0 0 0 34px;
  }
  body .section1 .content .text h1 {
    font-size: 1.2em;
  }
  .section1 .slider .one p span {
    font-size: 1.2em;
  }

  /* section2  */
  header h2 {
    font-size: 1.1em;
    padding: 20px 0;
  }
  .section2 .content .feature {
    width: 218px;
    height: 230px;
    padding: 20px 10px 10px 10px;
  }
  .section2 .content .feature img {
    width: 40px;
  }
  .section2 .content .feature p {
    font-size: 15px;
  }
}
@media screen and (max-width: 900px) {
  body {
    --width--: 600px;
  }
  .section1 .upper-text h1 {
    font-size: 2em;
  }
  .section1 .content {
    height: 305px;
  }

  /* section2  */
  header h2 {
    font-size: 1.1em;
    padding: 20px 0;
  }
  .section2 .content {
    gap: 10px;
  }
  .section2 .content .feature {
    width: 192px;
    height: 205px;
    padding: 10px 10px 10px 10px;
  }
  .section2 .content .feature h3 {
    font-size: 0.9rem;
  }
  .section2 .content .feature img {
    width: 40px;
  }
  .section2 .content .feature p {
    font-size: 13px;
  }

  /* .section3 */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 190px;
  }
  .section3 .content .top .card .text,
  .section3 .content .bottom .card .text {
    height: 87px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 101px;
  }
  .section3 .content .top .card .text p,
  .section3 .content .bottom .card .text p {
    font-size: 12px;
  }
  .section3 .content .top .poster .text h1 {
    font-size: 1rem;
  }

  /* section4  */
  .section4 {
    min-height: 120px;
  }
  .section4 h2 {
    font-size: 1.1em;
  }
  .section4 p {
    padding: 2px 0;
    font-size: 13px;
  }
  .parallaxedImage {
    height: 400px;
  }

  /* section 5  */
  .section5 .content .card {
    height: 178px;
  }
  .section5 .content .card .image {
    height: 101px;
  }
  .section5 .content .card .text p {
    font-size: 12px;
  }
}
@media screen and (max-width: 735px) {
  body {
    --width--: 500px;
  }
  .section1 .upper-text h1 {
    font-size: 1.8em;
  }
  .section1 .content {
    height: 254px;
  }
  .section1 .slider .one p span {
    margin: 0 20px 0 0;
  }

  /* section 3 */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 250px;
  }
  .section3 .content .top {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Flexible rows */
    grid-template-areas:
      "poster poster" /* Poster spans full width on top */
      "card1 card2"; /* Two cards below */
  }
  .section3 .content .top .poster {
    grid-area: poster; /* Assign poster to the top area */
    position: relative;
    margin: 5px;
    overflow: hidden;
  }
  .section3 .content .top .card:nth-child(1) {
    grid-area: card1; /* First card on the left */
  }
  .section3 .content .top .card:nth-child(2) {
    grid-area: card2; /* Second card on the right */
  }
  .section3 .content .top .card {
    position: relative;
    margin: 5px;
    overflow: hidden;
  }
  .section3 .content .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 161px;
  }
  .section3 .content .top .card .text p,
  .section3 .content .bottom .card .text p {
    font-size: 13px;
  }
  .section3 .content .top .card .text img,
  .section3 .content .bottom .card .text img {
    width: 25%;
    margin: 0;
  }

  /* section4  */
  .section4 {
    min-height: 120px;
    display: block;
  }
  .section4 h2 {
    font-size: 1.1em;
    line-height: normal;
    padding: 10px 0;
  }
  .section4 p {
    padding: 2px 0;
  }
  .parallaxedImage {
    height: 300px;
  }

  /* section 5  */
  .section5 .content {
    grid-template-columns: 1fr 1fr;
  }
  .section5 .content .card {
    height: 238px;
  }
  .section5 .content .card .image {
    height: 161px;
  }
  .section5 .content .card .text p {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  body {
    --width--: 450px;
  }
  .section1 .upper-text h1 {
    font-size: 1.6em;
  }
  .section1 .content {
    height: 230px;
  }
  body .section1 .content .text {
    background: #212121;
    backdrop-filter: blur(0px);
  }
  body.active .section1 .content .text {
    background: #fefefe;
  }
  .section1 .slider .one p span {
    font-size: 1em;
    margin: 0 20px 0 0;
  }

  /* section 3 */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 224px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 135px;
  }

  /* section 5  */
  .section5 .content .card {
    height: 201px;
  }
  .section5 .content .card .image {
    height: 135px;
  }
}
@media screen and (max-width: 520px) {
  body {
    --width--: 100%;
  }
  .container {
    padding: 0 20px;
  }
  .section1 .upper-text {
    padding: 50px 0;
    text-align: left;
  }
  .section1 .upper-text h1 {
    font-size: 1.8em;
    font-family: averta;
    letter-spacing: -0.05em;
  }
  .section1 .upper-text h1 br {
    display: none;
  }
  .section1 .content {
    height: unset;
  }
  .section1 .content .image {
    position: unset;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 50px black);
    z-index: -1;
    transition: 0.5s filter;
    overflow: visible;
    transition: 0.5s box-shadow;
  }
  .section1 .content .image img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
  body .section1 .content .text {
    display: none;
  }
  .section1 .slider {
    display: none;
  }
}
@media screen and (max-width: 440px) {
  /* section 3 */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 218px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 129px;
  }

  /* section 5  */
  .section5 .content .card {
    height: 195px;
  }
  .section5 .content .card .image {
    height: 129px;
  }
}
@media screen and (max-width: 436px) {
  .section2 .content .feature {
    border: 0;
    width: 100%;
  }
  .section2 .content .feature h3 {
    font-size: 1rem;
  }
  .section2 .content .feature p {
    width: 60vw;
    font-size: 14px;
  }

  /* section 3 */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 214px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 125px;
  }

  /* section4  */
  .parallaxedImage {
    height: 200px;
  }

  /* section 5  */
  .section5 .content .card {
    height: 191px;
  }
  .section5 .content .card .image {
    height: 125px;
  }
}
@media screen and (max-width: 430px) {
  .section1 .upper-text h1 {
    font-size: 1.6em;
  }

  /* section 3 */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 204px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 115px;
  }

  /* section 5  */
  .section5 .content .card {
    height: 181px;
  }
  .section5 .content .card .image {
    height: 115px;
  }
}
@media screen and (max-width: 360px) {
  /* section 3 */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 186px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 98px;
  }
  .section3 .content .top .card .text p,
  .section3 .content .bottom .card .text p {
    font-size: 12px;
  }
  .section3 .content .top .card .text img,
  .section3 .content .bottom .card .text img {
    font-size: 12px;
    width: 35%;
  }

  /* section 5  */
  .section5 .content .card {
    height: 175px;
  }
  .section5 .content .card .image {
    height: 98px;
  }
  .section5 .content .card .text p {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .section1 .upper-text h1 {
    font-size: 1.2em;
  }

  /* section 3 */
  .section3 .content .top div,
  .section3 .content .bottom div {
    height: 171px;
  }
  .section3 .content .top .card .image,
  .section3 .content .bottom .card .image {
    height: 85px;
  }
  .section3 .content .top .card .text p,
  .section3 .content .bottom .card .text p {
    font-size: 12px;
  }
  .section3 .content .top .card .text img,
  .section3 .content .bottom .card .text img {
    font-size: 12px;
    width: 35%;
  }

  /* section 5  */
  .section5 .content .card {
    height: 162px;
  }
  .section5 .content .card .image {
    height: 85px;
  }
}
