nav .right {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  user-select: none;
}
/* naviation edit  */

/* svg styles */
svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
.cls-1 {
  fill: none;
  height: 100vh;
  width: 100%;
}
.cls-3 {
  fill: var(--color--);
  transition: 0.5s ease fill;
}
/* svg styles */

.reg-content {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.errr {
  position: relative;
  border: 1px solid red;
  margin: 0 auto;
  width: 350px;
  font-size: 15px;
  padding: 15px 17px;
  color: #f00;
  background: rgba(255, 0, 0, 0.062);
  transform: translateY(6vh);
  display: none;
  user-select: none;
}
.errr .close {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-40%);
  height: 10px;
  width: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.errr .close::before,
.errr .close::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  rotate: 45deg;
  background: #f00;
}
.errr .close::after {
  rotate: -45deg;
}
.content {
  margin: 7vh auto;
  height: auto;
  width: 350px;
  padding: 20px;
  border: 1px solid var(--pColor--);
  overflow: visible;
  background: var(--background--);
  transition: 0.5s background;
}
.content .tabs {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .tabs li {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  border: 1px solid var(--color--);
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  transition: 0.5s border, 0.5s opacity;
}
.content .tabs li.active {
  opacity: 1;
  transition: 0.5s border, 0.5s opacity;
}
.content form {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 20px 0 0 0;
}
.content form div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.content form div.active {
  display: flex;
}
.content form div label {
  color: var(--color--);
  font-size: 15px;
  transition: 0.5s color;
  overflow: visible;
}
#signFName,
#signLName {
  text-transform: capitalize;
}
body .content form div input {
  height: 50px;
  width: 100%;
  color: var(--color--);
  font-size: 15px;
  border: 1px solid var(--black--);
  background: var(--background--);
  margin: 5px 0 10px 0;
  padding: 0 20px;
  outline: none;
  transition: 0.5s background, 0.5s border;
}
body.active .content form div input {
  border: 1px solid #ddd;
  background: var(--background--);
  transition: 0.5s background, 0.5s border;
}
.content form div ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content form div.loginContent ul li input {
  height: 10px;
  width: 10px;
  transform: translateY(1px);
}
.content form div.loginContent ul li label {
  font-size: 12px;
  transition: 0.5s background;
}
.content form div.signContent ul li {
  width: 49%;
}
.content form div ul li {
  display: inline-block;
}
.content form div ul li a {
  font-size: 12px;
  text-decoration: underline;
  padding: 0;
  display: inline-block;
  margin: 0;
}
.content form div button {
  height: 50px;
  width: 100%;
  background: #111;
  color: white;
  border: none;
  margin: 10px 0 0 0;
  cursor: pointer;
  font-size: 15px;
}
.content form div button:hover {
  background: #272727;
}
.content form div button:active {
  background: #000;
}
.content form div a {
  width: 100%;
  font-size: 12px;
  text-decoration: underline;
  text-align: center;
  padding: 5px 0px;
}

@media screen and (max-width: 600px) {
  nav {
    padding: 0 20px;
  }
}
@media screen and (max-width: 390px) {
  .content {
    margin: 7vh 20px;
    width: auto;
  }
}
@media screen and (max-width: 375px) {
  .content {
    margin: 5vh 20px;
    width: auto;
  }
  .content .tabs {
    height: 40px;
    font-size: 13px;
  }
  .content form div label {
    font-size: 13px;
  }
  body .content form div input {
    height: 40px;
    font-size: 13px;
    margin: 5px 0 10px 0;
    padding: 0 20px;
  }
  .content form div button {
    height: 40px;
    font-size: 13 px;
  }
}
